@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

a{
    text-decoration: none;
    color: rgb(233, 233, 233);
}

h1 {
    margin: 0px;
    font-size: calc(5vw + 8vh)
}

h2 {
    font-size: calc(2vw + 4vh);
    font-weight: 400;
    margin-bottom: 0px;
}

h3 {
    margin: 0px;
    font-size: calc(1vw + 2vh);
    font-weight: 400;
}

.body {
    display: grid;
    grid-template-columns: 50% 50%;

    min-width: 100%;
    min-height: 100%;

    margin: 0px;
    padding: 0px;

    background-color: #AB0000;
    font-family: "Ubuntu", sans-serif;
}

.body_right {
    align-items: center;
    height: 100vh;
    display: flex;
    
    margin-left: 5%;
    margin-right: 5%;
}

.mapa {
    max-width: 100%;
    height: auto;
    position: static;
        
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
}

.body_left {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 4% 96%;
    align-self: center;
    width: 80%;
    height: 80%;
    background-color: #8f0000;
}
