@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

a {
    text-decoration: none;
}

.body {
    margin: 0;
    padding: 0;

    font-family: 'Teachers', sans-serif;

    background-color: #63050f;
    color:burlywood;
}

.body::-webkit-scrollbar {
    background-color: #63050f
}

.body::-webkit-scrollbar-thumb {
    background-color: burlywood;
    border: solid #63050f;
    border-radius: 15px;
    width: 6px;
    
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.cabecalho {
    display: flex;
    flex-direction: row;
    position: fixed;

    background-color: #4f0000;
    color:burlywood;

    width: 100%;
    min-height: 30px;
    height: 6vh;

    align-items: center;
    justify-content:space-between;
}

.coerg {
    padding-left: 1vw;
    cursor:default;;
}

.menu {
    --s: 3vh; /* control the size */
  --c: burlywood; /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;

  -webkit-transition: 0ms;
    transition: 250ms;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
  
}
.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}

.drop {
    display: none;
    position: fixed;

    padding-top: 10px;

    height: 50vh;
    width: 15vw;

    top: 6vh;
    right: 0;
    opacity: 1;
}

.items {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 44vh;

    align-items: flex-end;
}

.btn {
    font-family: 'Teachers', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;

    cursor: pointer;

    background-color: transparent;
    border: 0px;
    margin-bottom: 10px;
    color: burlywood;
    width: 5vw;
}

.txt_cab {
    margin: 0;
    color:burlywood;
    font-size: calc(1.4vw + 0.9vh);
    letter-spacing: 6px;

    -webkit-transition: 0ms;
    transition: 250ms;
}
.txt_cab:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: burlywood;
    color: #63050f;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.top1 {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 95vh;
}

.container1 {
    display: flex;
    flex-direction: column;

    margin-top: 10vh;
    margin-bottom: 2vh;

    height: 30vh;
    width: 90vw;

    justify-content: center;
    align-items: center;

    cursor: default;
}

.txt_container1 {
    text-align: center;
    margin: 0;
    font-size: calc(3vw + 2vh);

    -webkit-transition: 0ms;
    transition: 250ms;
}
.txt_container1:hover {
    text-align: center;
    margin: 0;
    font-size: calc(3vw + 2vh);
    text-shadow: #1d0000 0px 0px 20px
}

.txt2_container1 {
    text-align: center;
    margin: 0;
    font-size: calc(3vw + 2vh);
    font-weight: 900;

    -webkit-transition: 0ms;
    transition: 250ms;
}
.txt2_container1:hover {
    text-align: center;
    margin: 0;
    font-size: calc(3.4vw + 2.4vh);
    text-shadow: #1d0000 0px 0px 20px
}

.brasao {
    width: 12vw;
    -webkit-transition: 0ms;
    transition: 250ms;
}
.brasao:hover {
    width: 13vw;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

.top2 {
    display: flex;
    flex-direction: column;

    height: 150vh;
    align-items: center;

    background-color: #4f0000;
    background-image: linear-gradient(180deg, #4f0000, #63050f, #4f0000);
}

.titulo {
    display: flex;

    height: 10vh;

    margin-top: 2vh;

    justify-content: center;
    align-items: center;

}

.sobre {
    color: #4f0000;
    font-size: calc(4vw + 3vh);
    margin: 0;
    -webkit-transition: 0ms;
    transition: 250ms;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: burlywood;

    cursor: default;
}
.sobre:hover {
    letter-spacing: 10px;
    color: burlywood;
}

.container3 {
    display: flex;
    flex-direction: column;

    background-color: #63050f;
    height: 80vh;
    width: 70vw;
    border-radius: 5px;

    margin-top: 3vh;
}

.top_container3 {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.img1 {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 30vw;
    padding: 2vw;

}
.imagem1 {
    max-width: 22vw;
    border-radius: 5px;
    -webkit-transition: 0ms;
    transition: 250ms;
    cursor: pointer;
}
.imagem1:hover {
    max-width: 23vw;
    border-radius: 20px;
}

.txt1 {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 2vw;
    width: 40vw;
}
.texto1 {
    font-size: calc(1vw + 1vh);
    text-align: justify;
    -webkit-transition: 0ms;
    transition: 250ms;
}
.texto1:hover {
    font-weight: 600;
}

.bottom_container3 {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.txt2 {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 40vw;
    padding: 2vw;
}
.texto2 {
    font-size: calc(1vw + 1vh);
    text-align: justify;
    -webkit-transition: 0ms;
    transition: 250ms;
}
.texto2:hover {
    font-weight: 600;
}

.img2 {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 30vw;
    padding: 2vw;
}

.imagem2 {
    max-width: 20vw;
    border-radius: 5px;
    -webkit-transition: 0ms;
    transition: 250ms;
    cursor: pointer;
}
.imagem2:hover {
    max-width: 21vw;
    border-radius: 20px;
}

.saiba_mais {
    font-family: 'Teachers', sans-serif;
    font-size: calc(1.5vw + 1vh);
    letter-spacing: 10px;
    font-weight: 600;

    border: 2px solid;
    border-radius: 10px 10px;

    margin-top: 15vh;
    width: 25vw;
    height: 10vh;

    background-color: #63050f;
    color: burlywood;

    -webkit-transition: 0ms;
    transition: 250ms;

    cursor: pointer;
}

.saiba_mais:hover {
    border-width: 6px;
    border-radius: 10px 10px;

    box-shadow: #1d0000 0px 0px 20px;
    border-color: #63050f;

    font-weight: 900;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 700px) {
    .txt_cab {
        margin-left: 4vw;
        font-size: calc(2vw + 1.5vh);
    
        -webkit-transition: 0ms;
        transition: 250ms;
    }
    .txt_cab:hover {
        letter-spacing: 6px;
    }

    .top1 {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-evenly;
    
        height: 95vh;
    }

    .container1 {
        margin-left: 0;
        width: 80vw;
    }

    .txt_container1 {
        text-align: center;
        margin: 0;
        font-size: calc(4vw + 3vh);
    
        -webkit-transition: 0ms;
        transition: 250ms;
    }
    
    .txt2_container1 {
        text-align: center;
        margin: 0;
        font-size: calc(4vw + 3vh);
    
        -webkit-transition: 0ms;
        transition: 250ms;
    }
    
    .txt_container1:hover {
        text-align: center;
        margin: 0;
        font-size: calc(4vw + 3vh);
        text-shadow: #1d0000 0px 0px 20px
    }
    
    .txt2_container1:hover {
        text-align: center;
        margin: 0;
        font-size: calc(4vw + 3vh);
        text-shadow: #1d0000 0px 0px 20px
    }

    .brasao {
        width: 40vw;
        -webkit-transition: 0ms;
        transition: 250ms;
    }
    .brasao:hover {
        width: 41vw;
    }

    .top2 {
        height: 160vh;
    }

    .container3 {
        display: flex;
        flex-direction: column;
    
        background-color: #63050f;
        height: 120vh;
        width: 80vw;
        border-radius: 5px;
    
        margin-top: 3vh;
    }

    .top_container3 {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        height: 50vh;
        margin-top: 2vh;
    }

    .imagem1{
        max-width: 50vw;
    }
    .imagem1:hover{
        max-width: 51vw;
    }
    .texto1{

    }

    .bottom_container3 {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        height: 50vh;
    }

    .texto2{

    }
    .imagem2{
        max-width: 50vw;
    }
    .imagem2:hover{
        max-width: 51vw;
    }

    .sobre {
        font-size: calc(5vw + 4vh);
        letter-spacing: 6px;
    }
    .sobre:hover {
        letter-spacing: 15px;
    }

    .saiba_mais {
        font-family: 'Teachers', sans-serif;
        font-size: calc(2vw + 1vh);
        letter-spacing: 10px;
        font-weight: 600;
    
        border: 2px solid;
        border-radius: 10px 10px;
    
        margin-top: 15vh;
        margin-bottom: 10vh;
        width: 50vw;
        height: 10vh;
    
        background-color: #63050f;
        color: burlywood;
    
        -webkit-transition: 0ms;
        transition: 250ms;
    
        cursor: pointer;
    }
    
    .saiba_mais:hover {
        border-width: 6px;
        border-radius: 10px 10px;
    
        box-shadow: #1d0000 0px 0px 20px;
        border-color: #63050f;
    
        font-weight: 900;
    }
}