@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

a {
    text-decoration: none;
}

.body {
    margin: 0;
    padding: 0;

    font-family: 'Teachers', sans-serif;

    background-color: #63050f;
    color:burlywood;
}

.body::-webkit-scrollbar {
    background-color: #63050f
}

.body::-webkit-scrollbar-thumb {
    background-color: burlywood;
    border: solid #63050f;
    border-radius: 15px;
    width: 6px;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    position: fixed;

    background-color: #4f0000;
    color:burlywood;

    width: 100%;
    min-height: 30px;
    height: 6vh;

    align-items: center;
    justify-content:space-between;
    
    -webkit-transition: 0ms;
    transition: 200ms;
}

.cabecalho:hover {
    height: 6.3vh;
}

.coerg {
    padding-left: 1vw;
    cursor:default;;
}

.txt_cab {
    margin: 0;
    color:burlywood;
    font-size: calc(1.4vw + 0.9vh);
    letter-spacing: 6px;

    -webkit-transition: 0ms;
    transition: 250ms;
}
.txt_cab:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: burlywood;
    color: #63050f;
}

.menu {
    --s: 3vh; /* control the size */
  --c: burlywood; /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
  
}
.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}

.drop {
  display: none;
  position: fixed;

  padding-top: 10px;

  height: 50vh;
  width: 15vw;

  top: 6vh;
  right: 0;
  opacity: 1;
}

.items {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 44vh;

  align-items: flex-end;
}

.btn {
  font-family: 'Teachers', sans-serif;
  font-weight: 900;
  letter-spacing: 4px;

  cursor: pointer;

  background-color: transparent;
  border: 0px;
  margin-bottom: 10px;
  color: burlywood;
  width: 5vw;
}

.corpo {
  display: flex;
  flex-direction: column;

  padding-top: 6vh;
  height: 94vh;

}

.title1 {
  display: flex;

  height: 12vh;
  width: 100%;
  margin-bottom: 6vh;
  padding-top: 3vh;

  justify-content: center;
}

.ajude {
  color: #63050f;
  font-size: calc(4vw + 3vh);
  margin: 0;
  -webkit-transition: 0ms;
  transition: 250ms;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: burlywood;

  cursor: default;
}
.ajude:hover {
  letter-spacing: 10px;
  color: burlywood;
}

.doacoes {
  display: flex;
  flex-direction: row;

  width: 90vw;
  height: 80vh;

  align-self: center;
}

.doa {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 30vw;
}

.QR {
  height: 20vw;
  border-radius: 5px;

  -webkit-transition: 0ms;
  transition: 300ms;
}

.QR:hover {
  box-shadow: #3b0000 0px 0px 40px;
}


@media (max-width: 600px) {
  .txt_cab {
      margin-left: 4vw;
      font-size: calc(2vw + 1.5vh);
  
      -webkit-transition: 0ms;
      transition: 250ms;
  }
  .txt_cab:hover {
      letter-spacing: 6px;
  }

  .ajude {
    font-size: calc(5vw + 4vh);
    letter-spacing: 6px;
  } 
  .ajude:hover {
      letter-spacing: 15px;
  }
}